<div class="add-background">
    <h1 class="pt-3 pb-3"> Dodaj Uslugu</h1>

    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2">
            <label class="form-label">Naziv Usluge</label>
            <input type="text" id="serviceName" class="form-control" name="serviceName" [(ngModel)]="model.name">
        </div>
        <div class="mt-2">
            <label class="form-label">Duzina trajanja</label>
            <input type="number" id="duration" class="form-control" name="duration" [(ngModel)]="model.duration">
        </div>
        <div class="mt-2">
            <label class="form-label">Cena usluge</label>
            <input type="number" id="price" class="form-control" name="price" [(ngModel)]="model.price">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Sačuvaj</button>
    </form>
</div>
