<div class="home-container">
    <div class="hero-section">
      <h1>Dobrodošli u Berberski Kutak</h1>
      <p>Mesto gde se tradicija susreće s modernim stilovima.</p>
      <button class="btn btn-primary" >Zakazivanje</button>
    </div>
  
    <div class="about-section mt-4">
      <h2>O Nama</h2>
      <p>Naša misija je da svakom klijentu pružimo jedinstveno iskustvo i savršenu frizuru.</p>
    </div>
  
    <div class="services-section mt-4">
      <h2>Usluge</h2>
      <ul>
        <li>Šišanje</li>
        <li>Frizure</li>
        <li>Brijanje</li>
        <li>Tretmani za kosu</li>
      </ul>
    </div>
  
    <div class="map-section mt-4">
      <h2>Naša Lokacija</h2>
      <iframe src="https://www.google.com/maps/embed?pb=YOUR_MAP_EMBED_LINK" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  
    <div class="contact-section mt-4">
      <h2>Kontakt</h2>
      <p>Telefon: <strong>+381 60 123 4567</strong></p>
      <p>Email: <strong>mail</strong></p>
      <p>Radno vreme: <strong>Pon-Pet: 10:00-20:00, Sub: 09:00-15:00</strong></p>
    </div>
  </div>
  