<div class="list-background">
    <h1 class="mt-3"> Lista Korisnika</h1>

    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/user/add']" class="btn btn-light"> Dodaj Korisnika </a>
    </div>

    <ng-container *ngIf="users">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Korisničko ime</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                    <th>Broj Usluga</th>
                    <th>Broj Izmjena</th>
                    <th>Broj Otkazivanja</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.counter}}</td>
                    <td>{{user.edited}}</td>
                    <td>{{user.cancelled}}</td>
                    <td>
                        <button type="submit" class="btn btn-light" [routerLink]="['/admin/user', user.id]">Izmeni</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</div>